/target/
/.idea/

# OS-specific
.DS_Store

# IDEs/editors
.vscode/
*.iml

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# LaTeX build artifacts
out/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.nav
*.snm
*.xdv
missfont.log
